
body {
background-color: rgb(191,224,255);
font-family: 'Dosis', sans-serif;
}

.navbar {
background-color: rgb(191,231,255);
}

.postcard {
margin: 0 auto;
max-width: 80%;
max-height: 50%;
/* background-color: red; */
}

#homePageImage {
max-width: 100%;
max-height: 100%;
}

.centered {
position: absolute;
top: 22.5%;
left: 0%;
transform: rotate(-20deg);
font-family: Notable, sans-serif;
color: #ff789c;
font-size: 120px;
}

h1 {
text-align: center;
}

h3 {
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}

#tagline {
text-align: center;
}
/* ul  {
padding-left:0;
} */
ul li  {
list-style-position:inside
}

.information {
margin: 0 auto;
padding: 15px;
width: 40%;
height: 30%;
background-color: white;
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .1);
border-radius: 5px;
overflow: hidden;
}

#resizedSwimming {
width: 600px;
height: 400px;
}

.warningLabel {
background-color: rgb(255,204,0);
width: 100%;
height: 60px;
position: fixed;
bottom: 40px;
/* text-align: center; */
/* color: yellow; */
font-weight: bolder;
font-size: 40px;
overflow-x: auto;
}


/* NEWS TICKER */

@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.tcontainer{
  width: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.ticker-wrap {
  width: 100%;
  padding-left: 100%;
  /* background-color: #eee; */
}
.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 55s;
}
/* .ticker-move:hover{
  animation-play-state: paused;
} */
.ticker-item{
  display: inline-block;
  padding: 0 2rem;
}
